
<form #loginForm="ngForm" class="col s12 white" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">username</i>
      <input type="text" value={{userName}} placeholder="Username" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">password</i>
      <input type="password" value={{password}} placeholder="Password" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button class="btn-large btn-submit" type="submit">Sign In</button>
    </div>
  </div>
</form>

<div class="card-block">
    <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
    <!-- <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
    <button class="btn btn-social-icon btn-linkedin" (click)="signInWithLinkedIn()"><span class="fa fa-linkedin"></span></button> -->
</div>