<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <connectionStrings>
    <add name="CarDbContext"
     connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=CarDb;Integrated Security=SSPI;"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>